<div>
    <span class="lead">The school:</span>
    <p>
        Second project by JOHN BRYCE - Full stack web developer course.
    </p>
    <p>
        The school is a service that enables the management of students and courses for a school, with different permissions for
        different types of adminstrators:
        <ul>
            <li>Owner - only 1 in the system, Full access to all services.</li>
            <li>Manager - Full access to all services excluding owner details(view and edit) and self role editing / removing
                option.
            </li>
            <li>Sales - No access to administrators tab, not allowed to create/remove/edit courses.</li>
        </ul>
    </p>
</div>
<div>
    <p>Programming languages used in the project:</p>
    <ul>
        <li>PHP</li>
        <li>SQL</li>
        <li>JavaScript</li>
    </ul>
    <span>Designed with bootstrap.</span>
</div>