<h4>The school</h4>
<div>
    Second project by Johnbryce college - summarize all we have learned so far: PHP, MYSQL, JavaScript, Scss, Html and Bootstrap.
</div>
<div>
    <h6>Framework used:</h6>
    <ul>
        <li>Bootstrap</li>
        <li>Some touches of Jquery</li>
    </ul>
    <h6>Code style</h6>
    <ul>
        <li>php-standard-style</li>
        <li>js-standard-style</li>
        <li>mysql-standard-style</li>
        <li>scss-standard-style</li>
    </ul>
</div>

<h6>How to use?</h6>
<h6>Contribute</h6>
<h6>Credits</h6>
<h6>License</h6>
MIT © Yourname